p
{
	color: Black;
	font-size: 1.15em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.photocv
{
	width: 180px;
    display: block;
	margin: 50px auto 30px auto;
}
.pictola {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	
}

#conteneurtotal
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}	

/* Picto loisirs */

.ger,.eng {
	width: 50px;
	height: 50px;
}
.fa-microchip,.fa-futbol, .fa-music {
	font-size: 2em;
	border: 2px solid black;
	border-radius: 50%; 
	padding : 10px;
}

.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt{
	color: #3a8eba;
	width: 40px;
	height: 40px;
	float: left;
	padding-right: 0.7em;
}
.picto {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}



.picto1 {
  position: relative;
  width: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3a8eba;
}

.picto1:hover .overlay {
  opacity: 1;
}

.text {
  color: Black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.picto2{
  position: relative;
  width: auto;
}

.picto2:hover .overlay {
  opacity: 1;
}

.picto3{
  position: relative;
  width: auto;
}

.picto3:hover .overlay {
  opacity: 1;
}

/* Fin Picto  */


#colonne1
{
	background-color: #3a8eba;
		flex:1;
}

.c1p1, .txtapdm
{
	padding-left: 2em;
	padding-right: 2em;
	}
	
.contact, .apdm, .loisirs
{
	border: 7px #303030 solid;
	border-width: 10px;
	background-color: #303030;
	color: #3a8eba;
	font-weight: bold;
	text-align: center;
	font-size: 1.7em;
}
.contact
{
	margin-top:6em;
}
.apdm
{
	margin-top: 10em;
}
.txtapdm
{
	text-align: justify;
}
.loisirs
{
	margin-top: 20em ;
	}




/* Colonne 2  */

#colonne2 
{	
	padding-left: 3em;
	flex : 2;
	
}
h2
{
	font-size: 1.7em;
	border-bottom: 3px #3a8eba solid;
	font-weight: 550;
	
}

.nom1
{
	font-size: 3.5em;
	text-shadow: 0.1em 0.1em 0.2em black;
		margin-bottom: 0em;
}
.nom1p1 
{
	color: #3a8eba;
}
.devt1
{
	font-size: 1.5em;
}
.devt1p1
{
	border-bottom: 3px #3a8eba solid;
}
.box
{	
	white-space: pre;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	
}
.box>* {
	flex: 0 0 50%;
	margin: 2.5% 0 ;
	align-self:center;
}
.header {
flex: 0 0 100%;
}
li{ color: #3a8eba; 
	content: "• "; 
	 style: none;
}

h4{ margin-bottom: -0.8em;
}
